In [1]:
#import denpendencies
import pandas as pd
import os
import pymongo

# EV Vehicle by State

In [2]:
#Read excel file and convert to dataframe
ev_path = "Data/ev_by_state.xlsx"
ev_df = pd.read_excel(ev_path, skiprows = 2, skipfooter = 1)
ev_df.keys()
ev_df = ev_df[["State", "Aprx. Registration Count"]]
ev_df = ev_df.rename(columns = {"Aprx. Registration Count": "EV Count"})
ev_df.head()

        State  EV Count
0     Alabama       900
1      Alaska       370
2     Arizona      9820
3    Arkansas       270
4  California    179600

# Total Vehicle Registration by State

In [3]:
#Read excel file and convert it to dataframe
total_registration_path = "Data/mv1.xlsx"
total_registration_df = pd.read_excel(total_registration_path, skiprows = 11, skipfooter = 2)
total_regist_df = total_registration_df.iloc[:, 0:2]
total_regist_df.keys
total_regist_df = total_regist_df.rename(columns = {"Unnamed: 0":"State","TAXICABS)": "Total Regist Count"})
total_regist_df.head()

         State  Total Regist Count
0      Alabama             2021395
1      Alaska               169412
2      Arizona             2371199
3     Arkansas              914265
4  California             14615499

# Cleanup Data

In [4]:
# Align states (spelling) in two dataframes
total_regist_df["State"] = ev_df["State"]
total_regist_df.head()

        State  Total Regist Count
0     Alabama             2021395
1      Alaska              169412
2     Arizona             2371199
3    Arkansas              914265
4  California            14615499

In [5]:
# Merge two dataframe by State
registration_df = pd.merge(ev_df, total_regist_df, on="State")

In [6]:
registration_df

                   State  EV Count  Total Regist Count
0                Alabama       900             2021395
1                 Alaska       370              169412
2                Arizona      9820             2371199
3               Arkansas       270              914265
4             California    179600            14615499
5               Colorado      7750             1768221
6            Connecticut      2710             1301153
7               Delaware       400              417700
8   District Of Columbia       660              191723
9                Florida     16600             7670861
10               Georgia     13530             3481721
11                Hawaii      5360              504605
12                 Idaho       710              547567
13              Illinois      7950             4617096
14               Indiana      1740             2258547
15                  Iowa       610             1257304
16                Kansas       970              983245
17              Kentucky       730             1659583
18             Louisiana       770             1360611
19                 Maine       470              383228
20              Maryland      4590             1977742
21         Massachusetts      5520             2204455
22              Michigan      2730             3233241
23             Minnesota      2730             2129307
24           Mississippi       260              820128
25              Missouri      2110             2122581
26               Montana       330              440809
27              Nebraska       520              662491
28                Nevada      3030             1039514
29         New Hampshire       650              502617
30            New Jersey      6610             2774916
31            New Mexico       780              601647
32              New York     10940             4541749
33        North Carolina      4540             3271128
34          North Dakota       140              272290
35                  Ohio      3790             4561052
36              Oklahoma      1380             1330082
37                Oregon      9550             1517573
38          Pennsylvania      4390             4415164
39          Rhode Island       380              413227
40        South Carolina      1220             1725328
41          South Dakota       180              347216
42             Tennessee      2970             2274107
43                 Texas     14390             8084454
44                  Utah      3410              914321
45               Vermont       750              217906
46              Virginia      4290             3206183
47            Washington     19900             2854542
48         West Virginia       140              550117
49             Wisconsin      2700             2058730
50               Wyoming       100              190149

In [7]:
registration_df.keys()

Index(['State', 'EV Count', 'Total Regist Count'], dtype='object')

In [8]:
# Add 'EV Percentage' column and calculate the EV percentage by state
registration_df["EV Percentage (%)"] = round(registration_df['EV Count']/registration_df['Total Regist Count']*100, 4)

In [9]:
# Set index as State
registration_df.set_index('State')

                      EV Count  Total Regist Count  EV Percentage (%)
State
Alabama                    900             2021395             0.0445
Alaska                     370              169412             0.2184
Arizona                   9820             2371199             0.4141
Arkansas                   270              914265             0.0295
California              179600            14615499             1.2288
Colorado                  7750             1768221             0.4383
Connecticut               2710             1301153             0.2083
Delaware                   400              417700             0.0958
District Of Columbia       660              191723             0.3442
Florida                  16600             7670861             0.2164
Georgia                  13530             3481721             0.3886
Hawaii                    5360              504605             1.0622
Idaho                      710              547567             0.1297
Illinois                  7950             4617096             0.1722
Indiana                   1740             2258547             0.0770
Iowa                       610             1257304             0.0485
Kansas                     970              983245             0.0987
Kentucky                   730             1659583             0.0440
Louisiana                  770             1360611             0.0566
Maine                      470              383228             0.1226
Maryland                  4590             1977742             0.2321
Massachusetts             5520             2204455             0.2504
Michigan                  2730             3233241             0.0844
Minnesota                 2730             2129307             0.1282
Mississippi                260              820128             0.0317
Missouri                  2110             2122581             0.0994
Montana                    330              440809             0.0749
Nebraska                   520              662491             0.0785
Nevada                    3030             1039514             0.2915
New Hampshire              650              502617             0.1293
New Jersey                6610             2774916             0.2382
New Mexico                 780              601647             0.1296
New York                 10940             4541749             0.2409
North Carolina            4540             3271128             0.1388
North Dakota               140              272290             0.0514
Ohio                      3790             4561052             0.0831
Oklahoma                  1380             1330082             0.1038
Oregon                    9550             1517573             0.6293
Pennsylvania              4390             4415164             0.0994
Rhode Island               380              413227             0.0920
South Carolina            1220             1725328             0.0707
South Dakota               180              347216             0.0518
Tennessee                 2970             2274107             0.1306
Texas                    14390             8084454             0.1780
Utah                      3410              914321             0.3730
Vermont                    750              217906             0.3442
Virginia                  4290             3206183             0.1338
Washington               19900             2854542             0.6971
West Virginia              140              550117             0.0254
Wisconsin                 2700             2058730             0.1311
Wyoming                    100              190149             0.0526

# MongoDB

In [10]:
# Convert dataframe to dictionary
registration_dict = registration_df.to_dict('record')
registration_dict

[{'State': 'Alabama',
  'EV Count': 900,
  'Total Regist Count': 2021395,
  'EV Percentage (%)': 0.0445},
 {'State': 'Alaska',
  'EV Count': 370,
  'Total Regist Count': 169412,
  'EV Percentage (%)': 0.2184},
 {'State': 'Arizona',
  'EV Count': 9820,
  'Total Regist Count': 2371199,
  'EV Percentage (%)': 0.4141},
 {'State': 'Arkansas',
  'EV Count': 270,
  'Total Regist Count': 914265,
  'EV Percentage (%)': 0.0295},
 {'State': 'California',
  'EV Count': 179600,
  'Total Regist Count': 14615499,
  'EV Percentage (%)': 1.2288},
 {'State': 'Colorado',
  'EV Count': 7750,
  'Total Regist Count': 1768221,
  'EV Percentage (%)': 0.4383},
 {'State': 'Connecticut',
  'EV Count': 2710,
  'Total Regist Count': 1301153,
  'EV Percentage (%)': 0.2083},
 {'State': 'Delaware',
  'EV Count': 400,
  'Total Regist Count': 417700,
  'EV Percentage (%)': 0.0958},
 {'State': 'District Of Columbia',
  'EV Count': 660,
  'Total Regist Count': 191723,
  'EV Percentage (%)': 0.3442},
 {'State': 'Florida',
  'EV Count': 16600,
  'Total Regist Count': 7670861,
  'EV Percentage (%)': 0.2164},
 {'State': 'Georgia',
  'EV Count': 13530,
  'Total Regist Count': 3481721,
  'EV Percentage (%)': 0.3886},
 {'State': 'Hawaii',
  'EV Count': 5360,
  'Total Regist Count': 504605,
  'EV Percentage (%)': 1.0622},
 {'State': 'Idaho',
  'EV Count': 710,
  'Total Regist Count': 547567,
  'EV Percentage (%)': 0.1297},
 {'State': 'Illinois',
  'EV Count': 7950,
  'Total Regist Count': 4617096,
  'EV Percentage (%)': 0.1722},
 {'State': 'Indiana',
  'EV Count': 1740,
  'Total Regist Count': 2258547,
  'EV Percentage (%)': 0.077},
 {'State': 'Iowa',
  'EV Count': 610,
  'Total Regist Count': 1257304,
  'EV Percentage (%)': 0.0485},
 {'State': 'Kansas',
  'EV Count': 970,
  'Total Regist Count': 983245,
  'EV Percentage (%)': 0.0987},
 {'State': 'Kentucky',
  'EV Count': 730,
  'Total Regist Count': 1659583,
  'EV Percentage (%)': 0.044},
 {'State': 'Louisiana',
  'EV Count': 770,
  'Total Regist Count': 1360611,
  'EV Percentage (%)': 0.0566},
 {'State': 'Maine',
  'EV Count': 470,
  'Total Regist Count': 383228,
  'EV Percentage (%)': 0.1226},
 {'State': 'Maryland',
  'EV Count': 4590,
  'Total Regist Count': 1977742,
  'EV Percentage (%)': 0.2321},
 {'State': 'Massachusetts',
  'EV Count': 5520,
  'Total Regist Count': 2204455,
  'EV Percentage (%)': 0.2504},
 {'State': 'Michigan',
  'EV Count': 2730,
  'Total Regist Count': 3233241,
  'EV Percentage (%)': 0.0844},
 {'State': 'Minnesota',
  'EV Count': 2730,
  'Total Regist Count': 2129307,
  'EV Percentage (%)': 0.1282},
 {'State': 'Mississippi',
  'EV Count': 260,
  'Total Regist Count': 820128,
  'EV Percentage (%)': 0.0317},
 {'State': 'Missouri',
  'EV Count': 2110,
  'Total Regist Count': 2122581,
  'EV Percentage (%)': 0.0994},
 {'State': 'Montana',
  'EV Count': 330,
  'Total Regist Count': 440809,
  'EV Percentage (%)': 0.0749},
 {'State': 'Nebraska',
  'EV Count': 520,
  'Total Regist Count': 662491,
  'EV Percentage (%)': 0.0785},
 {'State': 'Nevada',
  'EV Count': 3030,
  'Total Regist Count': 1039514,
  'EV Percentage (%)': 0.2915},
 {'State': 'New Hampshire',
  'EV Count': 650,
  'Total Regist Count': 502617,
  'EV Percentage (%)': 0.1293},
 {'State': 'New Jersey',
  'EV Count': 6610,
  'Total Regist Count': 2774916,
  'EV Percentage (%)': 0.2382},
 {'State': 'New Mexico',
  'EV Count': 780,
  'Total Regist Count': 601647,
  'EV Percentage (%)': 0.1296},
 {'State': 'New York',
  'EV Count': 10940,
  'Total Regist Count': 4541749,
  'EV Percentage (%)': 0.2409},
 {'State': 'North Carolina',
  'EV Count': 4540,
  'Total Regist Count': 3271128,
  'EV Percentage (%)': 0.1388},
 {'State': 'North Dakota',
  'EV Count': 140,
  'Total Regist Count': 272290,
  'EV Percentage (%)': 0.0514},
 {'State': 'Ohio',
  'EV Count': 3790,
  'Total Regist Count': 4561052,
  'EV Percentage (%)': 0.0831},
 {'State': 'Oklahoma',
  'EV Count': 1380,
  'Total Regist Count': 1330082,
  'EV Percentage (%)': 0.1038},
 {'State': 'Oregon',
  'EV Count': 9550,
  'Total Regist Count': 1517573,
  'EV Percentage (%)': 0.6293},
 {'State': 'Pennsylvania',
  'EV Count': 4390,
  'Total Regist Count': 4415164,
  'EV Percentage (%)': 0.0994},
 {'State': 'Rhode Island',
  'EV Count': 380,
  'Total Regist Count': 413227,
  'EV Percentage (%)': 0.092},
 {'State': 'South Carolina',
  'EV Count': 1220,
  'Total Regist Count': 1725328,
  'EV Percentage (%)': 0.0707},
 {'State': 'South Dakota',
  'EV Count': 180,
  'Total Regist Count': 347216,
  'EV Percentage (%)': 0.0518},
 {'State': 'Tennessee',
  'EV Count': 2970,
  'Total Regist Count': 2274107,
  'EV Percentage (%)': 0.1306},
 {'State': 'Texas',
  'EV Count': 14390,
  'Total Regist Count': 8084454,
  'EV Percentage (%)': 0.178},
 {'State': 'Utah',
  'EV Count': 3410,
  'Total Regist Count': 914321,
  'EV Percentage (%)': 0.373},
 {'State': 'Vermont',
  'EV Count': 750,
  'Total Regist Count': 217906,
  'EV Percentage (%)': 0.3442},
 {'State': 'Virginia',
  'EV Count': 4290,
  'Total Regist Count': 3206183,
  'EV Percentage (%)': 0.1338},
 {'State': 'Washington',
  'EV Count': 19900,
  'Total Regist Count': 2854542,
  'EV Percentage (%)': 0.6971},
 {'State': 'West Virginia',
  'EV Count': 140,
  'Total Regist Count': 550117,
  'EV Percentage (%)': 0.0254},
 {'State': 'Wisconsin',
  'EV Count': 2700,
  'Total Regist Count': 2058730,
  'EV Percentage (%)': 0.1311},
 {'State': 'Wyoming',
  'EV Count': 100,
  'Total Regist Count': 190149,
  'EV Percentage (%)': 0.0526}]

In [11]:
# Connect to MongoDB
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [12]:
# Declare the database
db = client.etl_db

# Drop collection if existing
db.ev.drop()

# Declare collection
db.ev

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'etl_project_db'), 'ev')

In [13]:
# Insert the document into the database
db.ev.insert_many(registration_dict)